@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,660,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background: #fff;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    #0b7fab -63.65%,
    #33118b -12.75%,
    #000032 34.95%
  );
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#head .logo {
  font-weight: 700;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  text-decoration: none;
}

#head ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head ul li {
  list-style: none;
  margin-left: 20px;
}

#head ul li a {
  text-decoration: none;
  padding: 6px 15px;
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #320326, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#moon,
section img#stars {
  mix-blend-mode: screen;
}

.mainText {
  color: #fff;
  font-size: clamp(1rem, 8vw, 4rem);
  z-index: 10;
  font-weight: 400;
  margin-bottom: 20px;
}

.mainText span {
  font-weight: 800;
}

.btnExplore {
  background-color: #fff;
  color: #33118b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  z-index: 10;
}

#starts {
  z-index: 1;
}

#fog {
  z-index: 3;
}

#moon,
#miniFog {
  z-index: 5;
}

#cliffBack {
  z-index: 7;
}

#cliff {
  z-index: 9;
}

#landingContent {
  z-index: 1000;
}

#content {
  background-color: #320326;
  padding: 30px 250px;
  z-index: 1000;
}

#content h2 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  margin-bottom: 40px;
  margin-top: 130px;
  text-align: center;
}

.effectTitle1 {
  color: #3f9cff;
}

.effectTitle2 {
  color: #86ffff;
}

.sect1 {
  display: flex;
}

.sect1 p {
  flex: 2;
  text-align: justify;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding-right: 100px;
  margin-bottom: 50px;
}

.sect1 div div {
  position: relative;
  flex: 1;
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  height: 300px;
  background-color: #551e3e;
  min-width: 450px;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.sect1 div div img {
  position: absolute;
  z-index: 10;
}

.sect1 div div span {
  position: absolute;
  z-index: 5;
}

.sect1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect1 div div img:nth-child(1) {
  width: 70px;
  bottom: -100px;
  left: 100px;
  animation: arrow1 6.5s infinite linear;
}

.sect1 div div img:nth-child(2) {
  width: 40px;
  top: 180px;
  right: 140px;
  animation: arrow2 8s infinite linear;
}

.sect1 div div img:nth-child(3) {
  width: 30px;
  bottom: 130px;
  left: 50px;
  animation: arrow3 8s infinite linear;
  opacity: 0.4;
}

.sect1 div div img:nth-child(4) {
  width: 40px;
  top: 80px;
  left: 150px;
  animation: arrow4 7s infinite linear;
}

.sect1 div div img:nth-child(5) {
  width: 60px;
  bottom: 70px;
  right: 30px;
  animation: arrow5 5s infinite linear;
}

.sect1 div div img:nth-child(5) {
  width: 60px;
  bottom: 70px;
  right: 30px;
  animation: arrow5 5s infinite linear;
}

.sect1 div div span {
  width: 1px;
  background-color: #fff;
}

.sect1 div div span:nth-child(6) {
  height: 50px;
  bottom: 0px;
  left: 230px;
  opacity: 0.4;
  animation: actionLine1 18s infinite linear;
}

.sect1 div div span:nth-child(7) {
  height: 90px;
  bottom: 50px;
  right: 100px;
  opacity: 0.6;
  animation: actionLine2 15s infinite linear;
}

.sect1 div div span:nth-child(8) {
  height: 60px;
  bottom: 50px;
  left: 90px;
  opacity: 0.2;
  animation: actionLine3 11s infinite linear;
}

.sect1 div div span:nth-child(9) {
  height: 45px;
  bottom: 200px;
  left: 200px;
  opacity: 0.2;
  animation: actionLine4 8s infinite linear;
}

.sect1 div div span:nth-child(10) {
  height: 30px;
  bottom: 150px;
  left: 300px;
  opacity: 0.2;
  animation: actionLine5 6s infinite linear;
}

@keyframes arrow1 {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  10% {
    opacity: 0.6;
    bottom: 0px;
  }
  100% {
    opacity: 0;
    bottom: 170px;
  }
}

@keyframes arrow2 {
  0% {
    opacity: 0;
    top: 180px;
  }
  10% {
    opacity: 0.1;
    top: 160px;
  }
  100% {
    top: -100px;
  }
}

@keyframes arrow3 {
  0% {
    opacity: 0;
    bottom: 130px;
  }
  10% {
    opacity: 0.4;
    bottom: 145px;
  }
  100% {
    bottom: 270px;
  }
}

@keyframes arrow4 {
  0% {
    opacity: 0;
    top: 80px;
  }
  10% {
    opacity: 0.3;
    top: 60px;
  }
  100% {
    top: -150px;
  }
}

@keyframes arrow5 {
  0% {
    opacity: 0;
    bottom: 0px;
  }
  10% {
    opacity: 0.5;
    bottom: 70px;
  }
  90% {
    opacity: 0.5;
    bottom: 170px;
  }
  100% {
    opacity: 0.5;
    bottom: 260px;
  }
}

@keyframes actionLine1 {
  from {
    bottom: 0px;
  }
  to {
    bottom: 350px;
  }
}

@keyframes actionLine2 {
  from {
    bottom: 50px;
  }
  to {
    bottom: 350px;
  }
}
@keyframes actionLine3 {
  from {
    bottom: 50px;
  }
  to {
    bottom: 350px;
  }
}
@keyframes actionLine4 {
  from {
    bottom: 200px;
  }
  to {
    bottom: 300px;
  }
}

@keyframes actionLine5 {
  from {
    bottom: 150px;
  }
  to {
    bottom: 400px;
  }
}

.sect2 {
  display: flex;
  flex-flow: column-reverse;
}

.funcDiv {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.funcDiv div {
  word-wrap: break-word;
  width: 400px;
  margin-left: 30px;
}

.funcDiv span {
  display: flex;
  justify-content: center;
}

.funcDiv:nth-child(2) {
  justify-content: flex-end;
}

.funcDiv:first-child {
  margin-bottom: 0;
}

.sect3 {
  text-align: center;
  text-decoration: none;
}

.sect3 button {
  border: none;
  padding: 15px 40px;
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  border-radius: 10px;
  background-color: #551e3e;
  color: #fff;
  cursor: pointer;
  margin-bottom: 100px !important;
  text-decoration: none;
}

.footer {
  padding: 10px 250px;
  width: 100%;
  text-align: right;
  background-color: #5b1731;
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.footer b {
  text-decoration: underline;
}

@media (max-width: 1500px) {
  #head,
  #content {
    padding: 30px 20px;
  }
  #content h2 {
    margin-top: 80px;
  }
  .sect1 div div {
    min-width: 450px;
    max-width: 600px;
  }
}

@media (max-width: 900px) {
  .sect1 {
    flex-direction: column;
  }
  .funcDiv,
  .funcDiv:nth-child(2) {
    justify-content: center;
  }
  .sect1 p {
    padding-right: 0;
  }
  .footer {
    padding: 10px 10px;
  }
}

@media (max-width: 520px) {
  .funcDiv div {
    width: 300px;
  }
  .sect1 div div {
    min-width: 250px;
    max-width: 450px;
  }
}

@media (max-width: 420px) {
  .funcDiv div {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .funcDiv {
    justify-content: center;
    flex-direction: column;
  }
  .funcDiv img {
    width: 100px;
  }
  .funcDiv div {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  #content {
    padding: 5px;
  }
}

@media (max-width: 1020px) {
  .sect1 div div {
    border-radius: 5px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
  }
}
