@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,660,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background: #fff;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    #0b7fab -63.65%,
    #33118b -12.75%,
    #000032 34.95%
  );
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#head .logo {
  font-weight: 700;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  text-decoration: none;
}

#head ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head ul li {
  list-style: none;
  margin-left: 20px;
}

#head ul li a {
  text-decoration: none;
  padding: 6px 15px;
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #320326, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#moon,
section img#stars {
  mix-blend-mode: screen;
}

.mainText {
  color: #fff;
  font-size: clamp(1rem, 8vw, 4rem);
  z-index: 10;
  font-weight: 400;
  margin-bottom: 20px;
}

.mainText span {
  font-weight: 800;
}

.btnExplore {
  background-color: #fff;
  color: #33118b;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  z-index: 10;
}

#starts {
  z-index: 1;
}

#fog {
  z-index: 3;
}

#moon,
#miniFog {
  z-index: 5;
}

#cliffBack {
  z-index: 7;
}

#cliff {
  z-index: 9;
}

#landingContent {
  z-index: 1000;
}

#content {
  background-color: #320326;
  padding: 30px 250px;
  z-index: 1000;
}

#content h2 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  margin-bottom: 40px;
  margin-top: 130px;
  text-align: center;
}

.effectTitle1 {
  color: #3f9cff;
}

.effectTitle2 {
  color: #86ffff;
}

.sect1 {
  display: flex;
}

.sect1 p {
  flex: 2;
  text-align: justify;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding-right: 100px;
}

.sect1 div {
  flex: 1;
}

.sect2 {
  display: flex;
  flex-flow: column-reverse;
}

.funcDiv {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.funcDiv div {
  word-wrap: break-word;
  width: 400px;
  margin-left: 30px;
}

.funcDiv span {
  display: flex;
  justify-content: center;
}

.funcDiv:nth-child(2) {
  justify-content: flex-end;
}

.funcDiv:first-child {
  margin-bottom: 0;
}

.sect3 {
  text-align: center;
}

.sect3 input {
  border: none;
  padding: 15px 40px;
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  border-radius: 10px;
  background-color: #551e3e;
  color: #fff;
  cursor: pointer;
  margin-bottom: 100px;
}

.footer {
  padding: 10px 250px;
  width: 100%;
  text-align: right;
  background-color: #5b1731;
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.footer b {
  text-decoration: underline;
}

@media (max-width: 1500px) {
  #head,
  #content {
    padding: 30px 20px;
  }
  #content h2 {
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  .sect1 {
    display: block;
  }
  .funcDiv,
  .funcDiv:nth-child(2) {
    justify-content: center;
  }
  .sect1 p {
    padding-right: 0;
  }
  .footer {
    padding: 10px 10px;
  }
}

@media (max-width: 520px) {
  .funcDiv div {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .funcDiv div {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .funcDiv {
    justify-content: center;
    flex-direction: column;
  }
  .funcDiv img {
    width: 100px;
  }
  .funcDiv div {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  #content {
    padding: 5px;
  }
}
