@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,660,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #fff;
  background: linear-gradient(
    0deg,
    #0b7fab -63.65%,
    #33118b -12.75%,
    #000032 34.95%
  );
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#head .logo {
  font-weight: 700;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  text-decoration: none;
}

#head ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#head ul li {
  list-style: none;
  margin-left: 20px;
}

#head ul li a {
  text-decoration: none;
  padding: 6px 15px;
}

section img#planet {
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

section div.contentContainer {
  z-index: 1000;
  background-color: #fff;
  padding: 50px 40px;
  padding-top: 20px;
  border-radius: 10px;
  width: auto;
  min-width: 300px;
  font-size: clamp(1.2em, 1.5vw, 1.5em);
  box-shadow: 1px 2px 27px 9px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: 1px 2px 27px 9px rgba(255, 255, 255, 0.28);
  -moz-box-shadow: 1px 2px 27px 9px rgba(255, 255, 255, 0.28);
}

section div label {
  font-weight: 600;
  color: #33118b;
}

section div input {
  position: relative;
  outline: none;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: solid 1px #c9c9c9;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

section div.contentContainer div {
  margin-bottom: 10px;
}

#actBtn {
  margin-top: 30px;
  background-color: #33118b;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: clamp(1em, 1.1vw, 1.2em);
  z-index: 1000;
}

.actionText {
  text-align: center;
  color: #000000;
  font-weight: 600;
  margin-bottom: 100px;
}

section div p {
  color: #000000;
  text-align: center;
  font-size: clamp(0.7em, 0.5vw, 1em);
  padding: 0;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}

section div p.errorText {
  color: #ff7a7a;
  text-decoration: none;
}

section div p.successText {
  color: #53ed9b;
  text-decoration: none;
}

section .signUpName {
  display: none;
}

@media screen and (max-width: 600px) {
  #head {
    padding: 30px 20px;
  }
}
